<a href="https://colab.research.google.com/github/Ho-data/git_test_1/blob/main/%EC%A0%95%ED%98%95%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/content/drive/MyDrive/bigcon/sac_data.csv')
pd.options.display.max_columns = None
price_data = data[data['place'] == '콘서트홀']

In [4]:
#### 가격이 0인 데이터 제외한 데이터 ####

w = (price_data.groupby('discount_type')['price'].mean() )
w = pd.DataFrame(w)

e = list(w.loc[w.price < 1000].index)
e

treat_data = price_data[~(price_data['discount_type'].isin(e))]
zero_data =price_data[(price_data['discount_type'].isin(e))]

In [6]:
import numpy as np
#### 층 블럭 열 만들기####
block = ['A','B','C','D','E','F','G','M','N','BOX1','BOX2','BOX3','BOX4','BOX5','BOX6','BOX7','BOX8','BOX9','BOX10','BOX11','BOX12']
def block_split(x,y) {
    np.where(x.str.contains(y[0]))
}
zero_data['floor'] = np.where(zero_data['seat'].str.contains('1층'),'1층',
                              np.where(zero_data['seat'].str.contains('2층'),'2층',
                                       np.where(zero_data['seat'].str.contains('3층'),'3층','합창석')))
zero_data['block'] = np.where(zero_data['seat'].str.contains('A'),'A',
                              np.where(zero_data['seat'].str.contains('B'),'B',
                                       np.where(zero_data['seat'].str.contains('C'),'C','합창석')))

<ipython-input-6-34698406ae6a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zero_data['floor'] = np.where(zero_data['seat'].str.contains('1층'),'1층',
<ipython-input-6-34698406ae6a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zero_data['block'] = np.where(zero_data['seat'].str.contains('A'),'1층',

In [ ]:
np.where()

In [ ]:
zero_data[['seat','floor']]

                 seat floor
6          3층 E블록4열 8    3층
7          2층 D블록8열 4    2층
17        2층 E블록3열 16    2층
19        1층 C블록20열 4    1층
20        1층 D블록10열 8    1층
...               ...   ...
1920847   1층 A블록4열 10    1층
1920850   2층 E블록7열 15    2층
1920852  합창석 G블록4열 19    3층
1920856  1층 D블록16열 12    1층
1920858   1층 D블록20열 8    1층

[579773 rows x 2 columns]

In [ ]:
zero_data['seat'].str[3:5].value_counts()

C블    116789
D블    111227
B블    107472
A블     96591
E블     94071
BO     14894
 G      8350
G블      7881
 H      5600
 F      5495
F블      4691
N블      3369
M블      3343
Name: seat, dtype: int64

In [ ]:
## 좌석등급제 5등급까지 나눠짐
## 좌석등급열을 만들고
## 좌석등급수열 만들기
price_